//FONTS
$font-size-s: 14px;
$font-size-l: 16px;

//SIZES
$mobile: 25em; //400px
$phablet: 34.375em; //550px
$tablet: 46.875em; //750px
$desktop: 62.5em; //1000px
$desktop-hd: 75em; //1200px

//COLORS
$primary-color: #e15550;
$secondary-color: #ef7f55;
$back-color: #443b49;
$padding-color: #edf0f8;
$overlay-color: #4b2f24;
